.git
.github
.gitignore

p3venv/
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

Nugs downloads/
logs/
test-output/
test-output-*/
test-output*/

*.db
*.sqlite
*.sqlite3

config.json
config.local.json
.env
.env.*

ffmpeg
ffmpeg.exe
ffprobe
ffprobe.exe
